# Ambiente virtual e configurações do editor
.venv/
.vscode/
__pycache__/

# Arquivos de configuração e variáveis locais
settings.json
variaveis.py

# Relatórios e logs
log.html
output.xml
report.html
interactive_console_output.xml
geckodriver-*.log

# Capturas de tela (geradas por testes ou uso)
selenium-screenshot-*.png
selenium-element-screenshot-*.png
paginavaga-*.png
vaga-*.png
O nome da vaga na *º pagina na posição * das vagas.png
Vagas de * no modelo de vaga simplificada.png
Vagas de *.png
Contato de *.png
login *.png
# Arquivos diversos
*.txt
/*.
test/LinkedIn/linkedin.py


O conteudo da vaga na *º pagina na posição *º das vagas.png
